AddDefaultCharset UTF-8
DefaultLanguage ru-RU

Options -Indexes

# php_flag register_globals off

<IfModule mod_rewrite.c>

    SetEnv HTTP_MOD_REWRITE On

    RewriteEngine on

    RewriteRule ^news/([^/]+)/?$ index.php?id=$1 [L,NE]
    RewriteRule ^category/([^/]+)/?$ index.php?cid=$1 [L,NE]
    RewriteRule ^list/([^/]+)/?$ index.php?l=$1 [L,NE]
    RewriteRule ^control/([^/]+)/?$ index.php?mode=control&do=$1 [L,NE]
    RewriteRule ^get/([^/]+)/?$ action.php?method=download&file=$1 [L,NE]
    RewriteRule ^go/([^/]+)/?$ index.php?mode=$1 [L,NE]

    RewriteRule  ^MineCraft/auth.php instruments/craft/auth/auth.php [L]
    RewriteRule  ^MineCraft/checkserver.php instruments/craft/auth/checkserver.php [L]
    RewriteRule  ^MineCraft/joinserver.php instruments/craft/auth/joinserver.php [L] 

    RewriteRule  ^authenticate$ instruments/craft/auth/auth16x.php [L]
    RewriteRule  ^invalidate$ instruments/craft/auth/invalidate16x.php [L]
    RewriteRule  ^refresh$ instruments/craft/auth/refresh16x.php [L]
    RewriteRule  ^game/joinserver.jsp instruments/craft/auth/joinserver.php [L,NE]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule .* index.php?mode=404&route=%{REQUEST_URI} [L,QSA]

</IfModule>